.yogasection{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yogacontainer{
    margin: 10px 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yoga_img{
    flex: 6;
}
.yoga_content{
    flex: 6;
}

.yoga_warpper {
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
    align-items: center;
}

.yoga_img .yoga_content{
width: 50%;
}

.yoga_img img{
    width: 400px;
    height: 400px;
    margin-left: 200px;
    background-color: rgba(233, 190, 228, 0.933); 
    border-radius: 10px;
}

.yoga_content h2{
    font-size: 2.5rem;
    margin: 20px;
    color: #333333;
}

.yoga_content p{
    color: #d3ce;
    font-size: 1.1rem;
    line-height: 28px;
    margin-bottom: 50px;
}
.yoga_title .yoga_span{
    color: #6f55f2;
}

.yoga_content button{
        width: 200px;
        height: 50px;
        font-size: 18px;
        background-color: #6f55f2;
        outline: none;
        border: none;
        border-radius: 20px;
        color:#ffffff;
        cursor: pointer;

}