.widget{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    -webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47) ;
    border-radius: 50%;
    height: 150px;
}

.widget:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 40px 4px;
}

.widget-top .title{
    font-size: 18px;
    font-weight: 600;
}
.widget-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.widget-bottom .Count{
    font-size: 18px;
    font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

}
.widget-bottom .Count .icon{
    color: green;
    margin-left: 50px;
}

.widget-bottom .link{
    font-size: 14px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

